
<div class="inner-content">
<div class="title">購物車</div>
  <nz-steps [nzCurrent]="current" nzDirection="horizontal" >
    <nz-step nzTitle="填寫訂餐資料"></nz-step>
    <nz-step nzTitle="確認訂餐"></nz-step>
    <!-- <nz-step nzTitle="Waiting"></nz-step> -->
  </nz-steps>

  <div class="steps-content" *ngIf="index==0">
    <app-shopinfo></app-shopinfo>

  </div>
  <div class="steps-content" *ngIf="index==1">{{ index }}</div>

  <div class="footer">
    <div nz-row>
      <div nz-col nzSpan="12" style="text-align: right;padding-right:10px;">
        <button nz-button nzType="default" nzShape="round" class="darkGray" (click)="goproduct()" *ngIf="current == 0">
          <span>繼續選購</span>
        </button>
        <button nz-button nzType="default" nzShape="round" class="darkGray" (click)="pre()" *ngIf="current == 1">
            <span>上一步</span>
          </button>
      </div>
      <div nz-col nzSpan="12" style="text-align: left;padding-left:10px;">
        <button nz-button nzType="default" nzShape="round"
         class="darkBlue" (click)="next()" *ngIf="current == 0"
         [disabled]="!paymentData.send"
         >
          <span>確認餐點</span>
        </button>
      </div>
    </div>
 

  </div>